<!-- filepath: /Users/alvaroencinas/Desktop/PROY. ALTO IRPAVI/PROYECTO_DNICYT/templates/sistema_interno/inventario.html -->
{% extends 'base.html' %}

{% block title %}Inventario - Lab Metal Mecánica{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Inventario</h1>
    <p>Bienvenido al módulo de Inventario. Aquí podrás gestionar y visualizar toda la información relacionada con el inventario de la organización.</p>
    
    <!-- Aquí se puede agregar más contenido relacionado con el inventario -->
</div>
{% endblock %}