<!-- filepath: /Users/alvaroencinas/Desktop/PROY. ALTO IRPAVI/PROYECTO_DNICYT/templates/sistema_interno/normativas_seguridad.html -->
{% extends 'base.html' %}

{% block title %}Normativas y Seguridad - Sistema de Inventario{% endblock %}

{% block content %}
<h1>Normativas y Seguridad</h1>
<p>Bienvenido a la sección de Normativas y Seguridad. Aquí encontrarás información relevante sobre las normativas aplicables y las medidas de seguridad que deben seguirse en el laboratorio.</p>

<!-- Add more content related to Normativas y Seguridad here -->

{% endblock %}